# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github_repos\JAVA_SANDBOX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
